*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    position:relative;
}

.aside{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position:absolute;
    height: 100vh;
  
    
   



}
.vertical{
    background-color: aqua;
    border:1px solid blue;
    width:10w;
    height: 33vh;
    
   

}

.main{
    background-color: brown;
    position:absolute;
    color:yellow;
    width: 95vw;
    height: 100vh;
    margin-left: 10vw;

}

@media screen and (min-width: 640px){

    .aside{
        flex-direction: row;
        position: static;
        width: 100vw;
        height: 10vh;
        
        
    }

    .main{
        position:static;
        width: 100vw;
        margin-left: 0;
        
    }

    .vertical{
       width: 33vw;
       height: 10vh;
   
    }

}